<VirtualHost *:80>
    ServerName {{ ansible_hostname }}
    DocumentRoot /var/www/flask_app

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    <Directory /var/www/flask_app>
        Require all granted
        AllowOverride All
    </Directory>

    WSGIDaemonProcess flask_app user={{ ansible_user }} group={{ ansible_user }} threads=5
    WSGIScriptAlias / /var/www/flask_app/flask_app.wsgi

    <Directory /var/www/flask_app>
        WSGIProcessGroup flask_app
        WSGIApplicationGroup %{GLOBAL}
        Order deny,allow
        Allow from all
    </Directory>
</VirtualHost>
